#footer {
  @include display(flex-start, center);
  background: $black-color;
  color: $white-color;
  font-size: 14px;
  height: 62px;
  letter-spacing: 2px;
  .flex {
    @include display(flex-start, center);
  }
  .footerWrap {
    p {
      margin-bottom: 0;
    }
  }
}
