#main{
  margin-top: 6%;
  min-height: 74.5vh;
  .flex{
    @include display(center, center);
  }
  .title{
    font-size: 34px;
    color: $white-color;
    margin-bottom: 120px;
  }
  .box{
    width: 256px;
    height: 256px;
    background: #ffffff;
    opacity: 0.6;
    text-align: center;
    .img{
      &-1, &-2{
        width: 196px;
        height: 196px;
      }
      &-3, &-4{
        width: 212px;
        height: 212px;
      }
    }
  }
  .padding15{
    padding-top: 15px;
  }
  .margin52{
    margin-right: 52px;
  }
}